.App {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 16px;
  display: flex;
  flex-direction: column;

  .Body {
    flex: 1;
    min-height: 0;
    position: relative;
    overflow-y: auto;
  }

  .Footer {
    flex-basis: 36px;
  }

  img.Empty {
    width: 100px;
    height: 100px;
  }
}

